.right,
.left,
.top {
  position: absolute;
  top: 0;
  background-color: transparent;
}

.right,
.left {
  height: 100%;
  width: 30vw;
  z-index: 20;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.top {
  height: 30vh;
  width: 100vw;
  z-index: 19;
}

@media (max-width: 1000px) {
  .right,
  .left {
    width: 33vw;
  }
}
