.text1 {
  font-size: 3rem;
  color: var(--secondaryTextColor);
}

.text2 {
  margin: 20px 0 20px 0;
  font-size: 1.5rem;
  color: var(--secondaryTextColor);
}

.startbtnHolder {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 730px) {
  .text1 {
    font-size: 2rem;
  }
  .text2 {
    font-size: 1.2rem;
  }
}
