:root {
  --presenterColor: rgb(0, 0, 0);
  --mainTextColor: rgb(102, 252, 241);
  --secondaryTextColor: rgb(197, 198, 199);
  --whiteText: rgb(255, 255, 255);
  --grey: rgb(68, 68, 68);
  --darkGrey: rgb(49, 49, 49);
  --transition: 0.3s;
}

.typicalbtn {
  border: 0;
  outline: 0;
  padding: 10px 20px;
  font-size: 2rem;
  margin: 10px 10px;
  border-radius: 9999px;
  color: var(--secondaryTextColor);
  background-color: var(--grey);
  transition: var(--transition);
}

a {
  transition: var(--transition);
  color: var(--secondaryTextColor);
}

.typicalbtn:hover,
a:hover {
  color: var(--whiteText);
  background-color: var(--darkGrey);
}

@media (max-width: 1000px) {
  .typicalbtn {
    font-size: 1.7rem;
  }
}

@media (max-width: 650px) {
  .typicalbtn {
    padding: 8px 16px;
    font-size: 1.3rem;
    margin: 8px 8px;
  }
}
