:root {
  --presenterColor: rgb(0, 0, 0);
  --mainTextColor: rgb(0, 110, 255);
  --secondaryTextColor: rgb(109, 172, 255);
  --whiteText: rgb(255, 255, 255);
  --transition: 0.3s;
}

.typicalbtn {
  border: 0;
  outline: 0;
  padding: 10px 20px;
  font-size: 2rem;
  margin: 10px 10px;
  border-radius: 9999px;
  color: var(--whiteText);
  background-color: var(--mainTextColor);
  transition: var(--transition);
}

@keyframes ColorHueChanger {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
